
.top-level{
    position: relative;
   left:10px
   }
#thehrforthetop{
       top: -20px;
       position: relative;
   }
#thetelanganaphoto{
       top: -20px;
   }
#thglobaledgephoto{
           position: relative;
           left:1000px;   
           top: -30px;
       }

.logos{
    position: relative;  
    height: 100px;
    top: 30px;
   }

 
#hyderabad{
       position: relative;
       left:120px;
       top: -120px;
       font-size:30px;
       font-family: 'Hina Mincho', serif;
   }
.linkboard{
       position: relative;
       height:2px;
       top:-140px;
       background:rgb(0, 0, 0);
   }
.linkboardlinks{
       position: relative;
       font-size: 40px;
       top: -20px;
       font-weight:700;
       text-decoration: none;
       text-align: center;
       display: inline-block;   
   }
#homelink{
       color: black;
       position: relative;
       left: 40px;
       top: -90px;
       font-size:30px;
   
   }
   
#Aboutlink{
       color: black;
       position: relative;
       left: 80px;
       top: -90px;
       font-size:30px;
   }
#Aboutlink{
   position: relative;
}
#Aboutlink:link,#Aboutlink:visited{
   color:black
}
#Aboutlink:hover{
   display: inline-block;
   color:white;
   background-color:rgb(0, 0, 0);
   padding: 0px 25px;
   text-align: center;}
       
   #thelinkactualofgov{
       position: relative;
       left:1000px;
       top: -40px;
   }
   #thelinkactualofgov:link,#thelinkactualofgov:visited{
       color:black
   }
#thelinkactualofgov:hover{
       display: inline-block;
       color:rgb(255, 255, 255);
       background-color:rgb(0, 0, 0);
       padding: 0px 20px;
       text-align: center;
   }
   #AWord{
       position: relative;
       top: -170px;
       left: 30px;
       font-size:35px;
   }
#homeslashabove:link,#homeslashabove:visited{

color:rgb(255, 0, 0);

}
#homeslashabove{
   position: relative;
   top: -100px;
   left: 30px;
   font-size:20px;
   
}

#linkboardimage{
       top: -110px;
       position: relative;
       width: 1250px;
       height:150px;
   margin:0px}
#ALOTABOUTHYDERABADdiv{
   width:1200px;
   word-wrap: break-word;
   position: relative;
   top: -190px;
   left: 30px;
   word-spacing: -1px;
   
}
#ALOTABOUTHYDERABAD{
   position: relative;
   size:30px
}
body {
   overflow-x: hidden; /* Hide scrollbars */
 }body {
   overflow-x: hidden; 
 }
 .top-level{
   position: relative;
  left:10px
  }
#thehrforthetop{
      top: -20px;
      position: relative;
  }
#thetelanganaphoto{
      top: -20px;
  }
#thglobaledgephoto{
          position: relative;
          left:1000px;   
          top: -30px;
   }
.logos{
   position: relative;  
   height: 100px;
   top: 30px;
  }
#hyderabad{
      position: relative;
      left:120px;
      top: -120px;
      font-size:30px;
      font-family: 'Hina Mincho', serif;
  }
.linkboard{
      position: relative;
      height:2px;
      top:-140px;
      background:rgb(0, 0, 0);
  }
.linkboardlinks{
      position: relative;
      font-size: 40px;
      top: -20px;
      font-weight:700;
      text-decoration: none;
      text-align: center;
      display: inline-block;   
  }
#homelink{
      color: black;
      position: relative;
      left: 40px;
      top: -90px;
      font-size:30px;
  
  }
  
#Aboutlink{
      color: black;
      position: relative;
      left: 80px;
      top: -90px;
      font-size:30px;
  }
#Aboutlink{
  position: relative;
}
#Aboutlink:link,#Aboutlink:visited{
  color:black
}
#Aboutlink:hover{
  display: inline-block;
  color:white;
  background-color:rgb(0, 0, 0);
  padding: 0px 25px;
  text-align: center;
}
      
  #thelinkactualofgov{
      position: relative;
      left:1000px;
      top: -40px;
  }
  #thelinkactualofgov:link,#thelinkactualofgov:visited{
      color:black
  }
#thelinkactualofgov:hover{
      display: inline-block;
      color:rgb(255, 255, 255);
      background-color:rgb(0, 0, 0);
      padding: 0px 20px;
      text-align: center;
  }
#Thetourismlink{
      left: 120px;
      position:relative;
      top:-90px;
      font-size:30px;
      text-decoration: none;
      color:black;
  }
#Thetourismlink:hover{
   display: inline-block;
   color:white;
   background-color:rgb(0, 0, 0);
   padding: 0px 25px;
   text-align: center; 
}
.linkboardimage{
  width: 410px;
  height: 340px;
  position: relative;
  top: -80px;
}
body{
  height: -1000px
}